%html
  %head
    %title Github Language guesser
    %link{rel: "stylesheet", href: "css/style.css", type: "text/css"}
  %body
    %h1 Github Favourite language checker
    #search
      %form{action:"/languages", method:"post"}
        %input{type:"text", name: 'username',placeholder: "Github Username"}
