---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/jjromeo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1417446759'
      Last-Modified:
      - Mon, 01 Dec 2014 13:49:32 GMT
      Etag:
      - '"843537d724416fdf08093d0b50d9e9a0"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"jjromeo","id":8081830,"avatar_url":"https://avatars.githubusercontent.com/u/8081830?v=3","gravatar_id":"","url":"https://api.github.com/users/jjromeo","html_url":"https://github.com/jjromeo","followers_url":"https://api.github.com/users/jjromeo/followers","following_url":"https://api.github.com/users/jjromeo/following{/other_user}","gists_url":"https://api.github.com/users/jjromeo/gists{/gist_id}","starred_url":"https://api.github.com/users/jjromeo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jjromeo/subscriptions","organizations_url":"https://api.github.com/users/jjromeo/orgs","repos_url":"https://api.github.com/users/jjromeo/repos","events_url":"https://api.github.com/users/jjromeo/events{/privacy}","received_events_url":"https://api.github.com/users/jjromeo/received_events","type":"User","site_admin":false,"name":"Jerome
        Pratt","company":"","blog":"jeromepratt.com","location":"London","email":"jero.pratt@gmail.com","hireable":true,"bio":null,"public_repos":46,"public_gists":0,"followers":30,"following":25,"created_at":"2014-07-06T16:01:11Z","updated_at":"2014-12-01T13:49:32Z"}'
  recorded_at: Mon, 01 Dec 2014 14:14:55 GMT
- request:
    method: get
    uri: https://api.github.com/users/jjromeo/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1417446759'
      Etag:
      - '"31ffc5d56fee6fc8d5e7a0847e470fdd"'
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/8081830/repos?page=2>; rel="next", <https://api.github.com/user/8081830/repos?page=2>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":25116045,"name":"advanced-student-directory","full_name":"jjromeo/advanced-student-directory","owner":{"login":"jjromeo","id":8081830,"avatar_url":"https://avatars.githubusercontent.com/u/8081830?v=3","gravatar_id":"","url":"https://api.github.com/users/jjromeo","html_url":"https://github.com/jjromeo","followers_url":"https://api.github.com/users/jjromeo/followers","following_url":"https://api.github.com/users/jjromeo/following{/other_user}","gists_url":"https://api.github.com/users/jjromeo/gists{/gist_id}","starred_url":"https://api.github.com/users/jjromeo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jjromeo/subscriptions","organizations_url":"https://api.github.com/users/jjromeo/orgs","repos_url":"https://api.github.com/users/jjromeo/repos","events_url":"https://api.github.com/users/jjromeo/events{/privacy}","received_events_url":"https://api.github.com/users/jjromeo/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/jjromeo/advanced-student-directory","description":"Creating
        a Student Directory - the first weeks project in an Object-oriented way and
        with TDD ","fork":false,"url":"https://api.github.com/repos/jjromeo/advanced-student-directory","forks_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/forks","keys_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/teams","hooks_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/hooks","issue_events_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/issues/events{/number}","events_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/events","assignees_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/assignees{/user}","branches_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/branches{/branch}","tags_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/tags","blobs_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/git/refs{/sha}","trees_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/statuses/{sha}","languages_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/languages","stargazers_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/stargazers","contributors_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/contributors","subscribers_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/subscribers","subscription_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/subscription","commits_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/commits{/sha}","git_commits_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/git/commits{/sha}","comments_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/comments{/number}","issue_comment_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/issues/comments/{number}","contents_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/contents/{+path}","compare_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/merges","archive_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/downloads","issues_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/issues{/number}","pulls_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/pulls{/number}","milestones_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/milestones{/number}","notifications_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/labels{/name}","releases_url":"https://api.github.com/repos/jjromeo/advanced-student-directory/releases{/id}","created_at":"2014-10-12T10:11:51Z","updated_at":"2014-11-22T16:25:28Z","pushed_at":"2014-11-22T16:25:28Z","git_url":"git://github.com/jjromeo/advanced-student-directory.git","ssh_url":"git@github.com:jjromeo/advanced-student-directory.git","clone_url":"https://github.com/jjromeo/advanced-student-directory.git","svn_url":"https://github.com/jjromeo/advanced-student-directory","homepage":null,"size":284,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master"},{"id":23226267,"name":"Airport-Traffic-control","full_name":"jjromeo/Airport-Traffic-control","owner":{"login":"jjromeo","id":8081830,"avatar_url":"https://avatars.githubusercontent.com/u/8081830?v=3","gravatar_id":"","url":"https://api.github.com/users/jjromeo","html_url":"https://github.com/jjromeo","followers_url":"https://api.github.com/users/jjromeo/followers","following_url":"https://api.github.com/users/jjromeo/following{/other_user}","gists_url":"https://api.github.com/users/jj[...]
