---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/jjromeo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '41'
      X-Ratelimit-Reset:
      - '1417443032'
      Last-Modified:
      - Mon, 01 Dec 2014 13:05:13 GMT
      Etag:
      - '"ffd186817c9e0c460682affe17fb6c89"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"jjromeo","id":8081830,"avatar_url":"https://avatars.githubusercontent.com/u/8081830?v=3","gravatar_id":"","url":"https://api.github.com/users/jjromeo","html_url":"https://github.com/jjromeo","followers_url":"https://api.github.com/users/jjromeo/followers","following_url":"https://api.github.com/users/jjromeo/following{/other_user}","gists_url":"https://api.github.com/users/jjromeo/gists{/gist_id}","starred_url":"https://api.github.com/users/jjromeo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jjromeo/subscriptions","organizations_url":"https://api.github.com/users/jjromeo/orgs","repos_url":"https://api.github.com/users/jjromeo/repos","events_url":"https://api.github.com/users/jjromeo/events{/privacy}","received_events_url":"https://api.github.com/users/jjromeo/received_events","type":"User","site_admin":false,"name":"Jerome
        Pratt","company":"","blog":"jeromepratt.com","location":"London","email":"jero.pratt@gmail.com","hireable":true,"bio":null,"public_repos":46,"public_gists":0,"followers":30,"following":25,"created_at":"2014-07-06T16:01:11Z","updated_at":"2014-12-01T13:05:13Z"}'
  recorded_at: Mon, 01 Dec 2014 13:47:44 GMT
recorded_with: VCR 2.9.3
